@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.aboutme-container {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 60px 13px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #181818;
    color: #AB9D9D;
}

.about-section-sub-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 18px;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    width: calc(100% - 60px);
    max-width: 1200px;
    margin: 0 auto; 
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.about-section-title {
    color: #fff;
    text-align: left;
    font-size: 128px;
    margin-bottom: 10px;
}

.about-section-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: flex-start;
}

.about-section-column {
    flex: 1;
    min-width: 292px;
}

.about-section-image-container {
    width: 292px;
    height: 292px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.about-section-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 22px;
    left: 80px;
    position: relative;
}

.about-section-details {
    text-align: left;
}

.about-section-paragraph {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.5;
}

.language-list {
    text-align: left;
    margin-top: 20px;
    bottom: 3px;
    position: relative;
}

.language-list-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 18px;
}

.language-list-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #AB9D9D;
}

.language-list-content li {
    font-size: 1em;
    margin-bottom: 5px;
}