.header {
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap; /* Prevents the logo text from wrapping */
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.nav-links li a:hover {
  text-decoration: underline;
}