.header {
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap; /* Prevents the logo text from wrapping */
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Default to hidden */
.nav-links {
  display: flex; /* Default display for desktop */
}

.menu-icon {
  display: none; /* Hide menu button by default on desktop */
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 40px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide desktop links on mobile */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #181818;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex; /* Show links when menu is open */
  }

  .menu-icon {
    display: block; /* Show menu button on mobile */
  }
}
