@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.container {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 60px 13px;
  }

  .home-title {
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    font-size: 128px;
    font-weight: 600;
    line-height: 21%;
    align-self: center;
    margin-top: 178px;
  }

  .about-section {
    display: flex;
    margin-top: 105px;
    flex-direction: column;
    align-items: center;
    padding: 0 29px 0 65px;
    position: relative;
  }

  .about-content {
    display: flex;
    gap: 20px;
    position: relative;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
    color: #fff;
    font-weight: 400;
    margin-top: 98px;
    position: relative;
    z-index: 1;
  }

  .about-description {
    color: #AB9D9D;
    font: 30px/27px Outfit, sans-serif;
    position: relative;
    top: 20px;
    left: 400px;
    width: 80%;
  }

  .divider-image {
    object-fit: auto;
    object-position: center;
    width: 168px;
    margin-top: 36px;
    max-width: 100%;
    position: relative;
    z-index: 0;
    left: 400px;
  }

  .about-studying {
    display: flex;
    width: 241px;
    max-width: 100%;
    flex-direction: column;
    font-size: 20px;
    line-height: 28px;
    margin: 30px 0 0 25px;
    left: 400px;
  }

  .studying-text {
    font-family: Outfit, sans-serif;
    color: #AB9D9D;
  }

  .studying-image {
    aspect-ratio: 3.57;
    object-fit: auto;
    object-position: center;
    width: 161px;
    margin-top: 16px;
    max-width: 100%;
  }

  .about-photo {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .about-photo {
      width: 100%;
    }
  }

  .profile-image {
    aspect-ratio: 0.79;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
    width: 546px;
    height: 686px;
  }

  .languages-separator {
    aspect-ratio: 0.04;
    object-fit: auto;
    object-position: center;
    width: 7px;
    margin: 68px 0 0 18px;
  }

  .languages-text {
    color: #747070;
    margin: 19px 0 0 18px;
    font: 400 20px/137.5% Outfit, sans-serif;
  }

  .languages-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .languages-image {
    aspect-ratio: 2.86;
    object-fit: auto;
    object-position: center;
    width: 906px;
    margin-top: 38px;
    max-width: 100%;
  }

  .career-separator {
    aspect-ratio: 0.04;
    object-fit: auto;
    object-position: center;
    width: 7px;
    margin-top: 69px;
  }

  .career-section {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 111px 0 0 73px;
  }

  .career-title {
    font: 700 32px/86% Outfit, sans-serif;
  }

  .career-description {
    margin-top: 20px;
    font: 400 24px/115% Outfit, sans-serif;
  }

  .download-cv {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
    left: 400px;
  }

.download-cv:hover {
    background-color: #FFFFFF;
    color: #1C1B1B;
}

.divider-image, .about-studying, .download-cv {
  position: relative;
  z-index: 0;
}

  /* .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 399px;
  } */